@font-face {
  font-family: 'Stem';
  src: url('libs/font/Stem-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stem-light';
  src: url('libs/font/Stem-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stem-bold';
  src: url('libs/font/Stem-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
