section.modal_shop.close(style="display: none")
  div.spinner
    div.bounce1
    div.bounce2
    div.bounce3
  .wrap.close
    .content
      .closer
      .images
        h3="CROCUS - Мужская одежда"
        .thumbnail(style="background: url('images/test_logo.jpg') no-repeat center center; background-size: contain;")
      .text
        h3="CROCUS - Мужская одежда"
        p.text_content="Модно и стильно одеваться любят все, но ходить по магазинам, оказывается, нравится не каждому. Сайт Butik.ru представляет собой Модно и стильно одеваться любят все, но ходить по магазинам, оказывается, нравится не каждому. Сайт Butik.ru представляет собой подробный интернет-каталог с множеством разделов: женская и мужская одежда, обувь, аксессуары, сумки и портфели. Купить одежду в интернет-магазине Бутик.ру очень легко - не нужно тратить время на передвижение по городу и совершать покупки впопыхах."
