| <?php /*
|  Template Name: Магазины
| */?>
- var first_nav = 'open'
- var second_nav = 'close'
- var third_nav = 'close'

doctype html
html(lang!="ru")
  head
    include sections/header.jade
  body
    include sections/navigation.jade
    include sections/shops.jade 
    include modal_shop.jade
    script!="window.shops = true"
    include sections/footer.jade 
