@import
  'sass/_susy.scss',
  'sections/reset.scss',
  'sections/mail',
  'sections/fonts';

$susy: (
  columns: 12,
  gutters: 1/2,
  math: fluid,
  gutter-position: inside,
);

$container: 1170px;
$container-float: 100%;

$sprite: 'images/sprite.png';

$stem-bold: "Stem-bold";
$stem-light: "Stem-light";
$stem: Stem;

$red : #db4747;
$black: #242424;
$black_font: #3b3b3b;
$gray: #4f5253;
$gray_bg: #f3f4f4;
$dark_gray: #3d3d3d;
$orange: #df8569;

* {
  box-sizing: border-box;
}

body {
  font-family: $stem, sans-serif;
}

b {
  font-family: $stem-bold, sans-serif;
}

.container-float {
  @include container($container-float);
}

.container {
  @include container($container);
}

@import
  'sections/navigation',
  'sections/header_sec',
  'sections/main',
  'sections/shops',
  'sections/stocks',
  'sections/contact',
  'sections/time_work',
  'sections/modal_shop',
  'sections/preloader',
  'sections/fancybox';
