section.header_cont
  .number!="+7 (7172) <b>515 606</b>"
  .time_work
    .icon
    p!="<b>Время работы:</b> 10:00 - 22:00 <span>▼</span>"
  .geo
    .icon
    p="г. Астана, пр. Туран, 24"
  .social
    a(href="https://www.instagram.com/trcsaryarka/" target="_blank")
      .inst
    a(href="https://www.facebook.com/saryarka.admin?fref=ts" target="_blank")
      .facebook
    //.vk
    //.twitter
